@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <hr />
    <h1>Sajadweb</h1>
    <hr/>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@sajadweb.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@sajadweb.com</a>
</address>
